@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* header style */
header {
    box-sizing: border-box;
    width: 100%;
}

header .nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2E60;
    padding: 0px 11px;
}

.nav-head .contact-nav {
    padding: 20px 10px;
}

.contact-nav a {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.nav-head .networks-nav{
    padding-top: 5px;
}

.networks-nav i{
    font-size: 1.2rem;
    margin-left: 20px;
}

.nav-header {
    padding: 0px 10px;
}

.nav-head .networks-nav {
    margin: 0px 20px;
} 

.nav-head a {
    margin-left: 10px;
    font-size: 1rem;
    color: #fff;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A9805;
    z-index: 999;
}

.navigation.sticky{
    position: fixed;
    top: 0px;
    width: 100%;
}

.logo{
    color: #fff;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
}

.navigation .nav{
    display: flex;
    margin-right: 20px;
}

.nav li{
    margin: 0px 20px;
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color: #dfdfdf;
    transition: .5s ease-in-out;
}

.nav a:hover{
    color: #fff;
}

.hamburger{
    display: none;
}

/* header responsive style */
@media only screen and (max-width: 920px){
    header .nav-head{
        flex-direction: column;
        margin: 0;
        padding: 12px;
    }

    .nav-head .contact-nav{
        padding: 10px 0px;
        margin-bottom: 10px;
    }

    .contact-nav a{
        font-size: 1rem;
    }

    .navigation .nav{
        position: absolute;
        flex-direction: column;
        left: 0;
        background-color: #3b9805;
        top: 150px;
        width: 0%;
        text-align: center;
        height: 59vh;
        transition: .5s ease-in-out;
    }

    .navigation.sticky .nav{
        top: 58px;
    }

    .nav a{
        display: none;
        font-size: 1.2rem;
        border-bottom: 1px solid #fff;
        padding: 50px 0px;
    }

    .nav.active{
        background-color: #3A9805;
        padding-top: 0px;
        width: 100%;
    }

    .nav.active a{
        display: block;
    }

    .hamburger{
        display: block;
        color: #ffffff;
        padding: 6px 20px;
        font-size: 1.7rem;
    }
    .hamburger .fa-bars{
        display: block;
    }
    .hamburger .fa-times{
        display: none;
    }
    .hamburger.active .fa-times{
        display: block;
    }
    .hamburger.active .fa-bars{
        display: none;
    }
}

/* End of header style */
/* Start of home style */
#home{
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px #0000008e;
}

#home .home-title{
    padding: 110px 90px;
    width: 50%;
}

.home-title h1{
    font-size: 3rem;
    color: #ffff;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 0px;
}

.home-title p{
    font-size: 1.2rem;
    color: #fff;
    padding: 0px 10px;
}

.home-title .buttons{
    padding: 30px 0px;
}

.buttons .menu-btn{
    color: #fff;
    text-decoration: none;
    margin: 20px 0px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px solid #fff;
}

.menu-btn:hover{
    background-color: #3A9805;
    border: none;
    padding: 12px 22px;
}

.buttons .video-btn{
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.video-btn:hover{
    color: #3A9805;
}

.fa-circle-play{
    font-size: 1.5rem;
}

/* Home responsive style */
@media only screen and (max-width: 920px){
    #home .home-title{
        padding: 150px 30px;
        width: 90%;
    }

    .home-title h1{
        font-size: 2rem;
        color: #ffff;
        font-family: 'Ubuntu', sans-serif;
        padding: 20px 0px;
    }
}
/* End of home style */